In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (12,5)

In [2]:
#df_train = pd.read_csv('data/train.csv', encoding='utf-8',sep=',', index_col='_id')
# Признак _id потом удалим
df_train = pd.read_csv('data/train.csv', encoding='utf-8',sep=',')

In [3]:
df_train.head(5)

,_id,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,target
0,df7489733b004bbe40d3d37b34f82419,54,technician,married,professional.course,unknown,no,no,cellular,aug,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,905a0b9a5456ee962223033473666be3,36,services,single,basic.4y,no,no,no,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
2,02d69c07ec6d68e31d641edd45ce61cd,53,blue-collar,married,basic.4y,no,yes,no,cellular,aug,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,0
3,e492fbe0cccaf67cdb5c0944dbc8a167,34,blue-collar,married,basic.9y,no,yes,yes,telephone,may,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
4,ac2dc6f5835bdea8e71dd99b65208d07,29,services,single,university.degree,no,yes,no,telephone,aug,...,1,999,0,nonexistent,-1.7,94.027,-38.3,0.890,4991.6,0

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24712 entries, 0 to 24711
Data columns (total 22 columns):
_id               24712 non-null object
age               24712 non-null int64
job               24712 non-null object
marital           24712 non-null object
education         24712 non-null object
default           24712 non-null object
housing           24712 non-null object
loan              24712 non-null object
contact           24712 non-null object
month             24712 non-null object
day_of_week       24712 non-null object
duration          24712 non-null int64
campaign          24712 non-null int64
pdays             24712 non-null int64
previous          24712 non-null int64
poutcome          24712 non-null object
emp.var.rate      24712 non-null float64
cons.price.idx    24712 non-null float64
cons.conf.idx     24712 non-null float64
euribor3m         24712 non-null float64
nr.employed       24712 non-null float64
target            24712 non-null int64
dtypes: float64(5), int64(6), object(11)
memory usage: 4.1+ MB

In [5]:
len(list(df_train['_id']))

24712

In [6]:
#df_test = pd.read_csv('data/test.csv', encoding='utf-8',sep=',', index_col='_id')
df_test = pd.read_csv('data/test.csv', encoding='utf-8',sep=',')

In [7]:
df_test.head()

,_id,age,job,marital,education,default,housing,loan,contact,month,...,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,66810d8e6bf2b41c880a7bc6c8a1e295,57,technician,married,high.school,no,no,yes,cellular,may,...,371,1,999,1,failure,-1.8,92.893,-46.2,1.299,5099.1
1,ccac3879652b08cb8b44c1920fd93afa,55,unknown,married,unknown,unknown,yes,no,telephone,may,...,285,2,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0
2,fcccab4d7a76f70647f015f2c84c2af8,33,blue-collar,married,basic.9y,no,no,no,cellular,may,...,52,1,999,1,failure,-1.8,92.893,-46.2,1.313,5099.1
3,ed8399278c30678dab739045fa12b440,36,admin.,married,high.school,no,no,no,telephone,jun,...,355,4,999,0,nonexistent,1.4,94.465,-41.8,4.967,5228.1
4,1d4d62ac5cabcb48bac7112813f290cb,27,housemaid,married,high.school,no,yes,no,cellular,jul,...,189,2,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1

In [8]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16476 entries, 0 to 16475
Data columns (total 21 columns):
_id               16476 non-null object
age               16476 non-null int64
job               16476 non-null object
marital           16476 non-null object
education         16476 non-null object
default           16476 non-null object
housing           16476 non-null object
loan              16476 non-null object
contact           16476 non-null object
month             16476 non-null object
day_of_week       16476 non-null object
duration          16476 non-null int64
campaign          16476 non-null int64
pdays             16476 non-null int64
previous          16476 non-null int64
poutcome          16476 non-null object
emp.var.rate      16476 non-null float64
cons.price.idx    16476 non-null float64
cons.conf.idx     16476 non-null float64
euribor3m         16476 non-null float64
nr.employed       16476 non-null float64
dtypes: float64(5), int64(5), object(11)
memory usage: 2.6+ MB

In [9]:
len(list(df_test['_id']))

16476

In [10]:
df_train.describe().T

,count,mean,std,min,25%,50%,75%,max
age,24712.0,40.030188,10.462301,17.000,32.000,38.000,47.000,98.000
duration,24712.0,258.345298,261.573344,0.000,102.000,180.000,319.000,4918.000
campaign,24712.0,2.580163,2.776757,1.000,1.000,2.000,3.000,43.000
pdays,24712.0,963.558797,184.224885,0.000,999.000,999.000,999.000,999.000
previous,24712.0,0.171900,0.491511,0.000,0.000,0.000,0.000,6.000
emp.var.rate,24712.0,0.082713,1.572300,-3.400,-1.800,1.100,1.400,1.400
cons.price.idx,24712.0,93.576386,0.579548,92.201,93.075,93.749,93.994,94.767
cons.conf.idx,24712.0,-40.516077,4.639359,-50.800,-42.700,-41.800,-36.400,-26.900
euribor3m,24712.0,3.619397,1.737099,0.634,1.344,4.857,4.961,5.045
nr.employed,24712.0,5166.988111,72.516221,4963.600,5099.100,5191.000,5228.100,5228.100
target,24712.0,0.112779,0.316329,0.000,0.000,0.000,0.000,1.000

In [11]:
# Разделим данные с разными значениями TARGET - для поиска значимых и незначимых прихнаков.

In [12]:
df_train_0 = df_train.query('target == 0')

In [13]:
df_train_0['target'].value_counts()

0    21925
Name: target, dtype: int64

In [14]:
df_train_1 = df_train.query('target == 1')

In [15]:
df_train_1['target'].value_counts()

1    2787
Name: target, dtype: int64

In [16]:
21925+2787

24712

In [17]:
# Доля единиц
2787/24712
# будем использовать для балансировки классов

0.11277921657494334

In [ ]:
# Сравним статистические показатели для ЧИСЛОВЫХ данных: отдельно с TARGET=0 и с TARGET=1.
# Если средние значения какого-то признака очень близки (ну... и min, max),- 
# то влияние признака не выявлено
# На дисперсию пока не смотрим
# Комбинирование признаков пока тоже не смотрим...

In [18]:
df_train_0.describe().T

,count,mean,std,min,25%,50%,75%,max
age,21925.0,39.929076,9.950976,17.000,32.000,38.000,47.000,95.000
duration,21925.0,221.030513,209.732400,0.000,95.000,163.000,278.000,4918.000
campaign,21925.0,2.647662,2.884026,1.000,1.000,2.000,3.000,43.000
pdays,21925.0,985.052315,116.852489,0.000,999.000,999.000,999.000,999.000
previous,21925.0,0.131904,0.405475,0.000,0.000,0.000,0.000,6.000
emp.var.rate,21925.0,0.249688,1.484639,-3.400,-1.800,1.100,1.400,1.400
cons.price.idx,21925.0,93.603631,0.559646,92.201,93.075,93.918,93.994,94.767
cons.conf.idx,21925.0,-40.602285,4.404200,-50.800,-42.700,-41.800,-36.400,-26.900
euribor3m,21925.0,3.809478,1.641561,0.634,1.405,4.857,4.962,5.045
nr.employed,21925.0,5176.165706,64.737576,4963.600,5099.100,5195.800,5228.100,5228.100
target,21925.0,0.000000,0.000000,0.000,0.000,0.000,0.000,0.000

In [19]:
df_train_1.describe().T

,count,mean,std,min,25%,50%,75%,max
age,2787.0,40.825619,13.817538,17.000,31.000,37.000,50.000,98.000
duration,2787.0,551.896304,404.420029,37.000,255.000,442.000,739.500,4199.000
campaign,2787.0,2.049157,1.617637,1.000,1.000,2.000,2.000,17.000
pdays,2787.0,794.471834,401.670224,0.000,999.000,999.000,999.000,999.000
previous,2787.0,0.486545,0.858688,0.000,0.000,0.000,1.000,6.000
emp.var.rate,2787.0,-1.230858,1.623668,-3.400,-1.800,-1.800,-0.100,1.400
cons.price.idx,2787.0,93.362048,0.680157,92.201,92.893,93.200,93.918,94.767
cons.conf.idx,2787.0,-39.837890,6.143963,-50.800,-46.200,-40.400,-36.100,-26.900
euribor3m,2787.0,2.124053,1.742855,0.634,0.850,1.266,4.286,5.045
nr.employed,2787.0,5094.789056,88.231291,4963.600,5017.500,5099.100,5191.000,5228.100
target,2787.0,1.000000,0.000000,1.000,1.000,1.000,1.000,1.000

In [ ]:
# Выводы:
# 1.Признак '_id' не нужен => удалим

# 2.Проблем с неправильным разделителем целой и дробной частей в числовых признаках - нет

# 3.Пропусков нет

# 4.Незначимые признаки (не влияющие "заметно" на целевое значение, на обучающих данных):
# 'age', campaign', 'pdays', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed'
# Эти признаки удалим из обучения..

# 5. Значимые признаки: 'duration', 'previous', 'emp.var.rate
# У признака 'duration' среднее значение: 221 и 55,- для target: 0 и 1, соответственно 
# (в диапазоне [0..4918])
# У признака 'previous' среднее значение: 0.13 и 0.48,- для target: 0 и 1, соответственно 
# (в диапазоне [0..6])
# У признака 'emp.var.rate' среднее значение: 0.24 и -1.23,- для target: 0 и 1, соответственно 
# (в диапазоне [-3.4..1.4])
# Эти признаки нормализуем по алгоритму: x -> (x - min)/(max - min) (дисперсия, вроде не важна)
# "Важность" (более сильное влияние), веса из этих признаков не ищем: нормализации достаточно, 
# а дальше дело за моделями..

In [ ]:
#-------------------------------------------------------------------------------------------

In [ ]:
# Сравним частоту значений КАТЕГОРИАЛЬНЫХ показателей: отдельно для TARGET=0 и для TARGET=1.
# Если частоты значений какого-то признака очень близки,- то влияние признака не выявлено
# Комбинирование признаков пока не смотрим...

In [20]:
def str_values(str_columns):
    for col in str_columns:
        dd0 = pd.DataFrame(df_train_0[col].value_counts())
        all0 = df_train_0.shape[0]
        dd1 = pd.DataFrame(df_train_1[col].value_counts())
        all1 = df_train_1.shape[0]
        print('\n' + col + '(0-отказы)\t\t\t\t\t' + col + '(1-согласия)')
        print('-----------------------------\t\t\t-----------------------------')
        print('Всего: ', all0, '\t\t\t\t\tВсего: ', all1)
        for name in dd0.index:
            print (name, '-', dd0.loc[name, col], '(', dd0.loc[name, col]*100/all0, '%)\t', \
                   name, '-', dd1.loc[name, col], '(', dd1.loc[name, col]*100/all1, '%)')
        print('================================================================================')  
    return

In [21]:
str_columns = ['job', 'marital', 'education']
str_values(str_columns)

job(0-отказы)					job(1-согласия)
-----------------------------			-----------------------------
Всего:  21925 					Всего:  2787
admin. - 5429 ( 24.76168757126568 %)	 admin. - 825 ( 29.60172228202368 %)
blue-collar - 5217 ( 23.794754846066134 %)	 blue-collar - 404 ( 14.495873699318263 %)
technician - 3558 ( 16.22805017103763 %)	 technician - 429 ( 15.392895586652314 %)
services - 2202 ( 10.043329532497149 %)	 services - 189 ( 6.7814854682454255 %)
management - 1555 ( 7.09236031927024 %)	 management - 203 ( 7.283817725152494 %)
entrepreneur - 780 ( 3.5575826681870013 %)	 entrepreneur - 73 ( 2.619303911015429 %)
self-employed - 763 ( 3.4800456100342076 %)	 self-employed - 87 ( 3.1216361679224973 %)
retired - 761 ( 3.4709236031927024 %)	 retired - 240 ( 8.611410118406889 %)
housemaid - 588 ( 2.6818700114025087 %)	 housemaid - 64 ( 2.2963760315751705 %)
unemployed - 508 ( 2.316989737742303 %)	 unemployed - 86 ( 3.0857552924291354 %)
student - 387 ( 1.7651083238312428 %)	 student - 167 ( 5.99210620739146 %)
unknown - 177 ( 0.8072976054732041 %)	 unknown - 20 ( 0.7176175098672407 %)
================================================================================

marital(0-отказы)					marital(1-согласия)
-----------------------------			-----------------------------
Всего:  21925 					Всего:  2787
married - 13364 ( 60.953249714937286 %)	 married - 1507 ( 54.072479368496595 %)
single - 6058 ( 27.63055872291904 %)	 single - 983 ( 35.27090060997488 %)
divorced - 2464 ( 11.238312428734321 %)	 divorced - 291 ( 10.441334768568353 %)
unknown - 39 ( 0.17787913340935005 %)	 unknown - 6 ( 0.21528525296017223 %)
================================================================================

education(0-отказы)					education(1-согласия)
-----------------------------			-----------------------------
Всего:  21925 					Всего:  2787
university.degree - 6272 ( 28.60661345496009 %)	 university.degree - 1037 ( 37.20846788661643 %)
high.school - 5130 ( 23.39794754846066 %)	 high.school - 607 ( 21.77969142447076 %)
basic.9y - 3283 ( 14.973774230330672 %)	 basic.9y - 282 ( 10.118406889128094 %)
professional.course - 2769 ( 12.629418472063854 %)	 professional.course - 343 ( 12.30714029422318 %)
basic.4y - 2259 ( 10.303306727480045 %)	 basic.4y - 264 ( 9.472551130247577 %)
basic.6y - 1287 ( 5.870011402508552 %)	 basic.6y - 112 ( 4.018658055256548 %)
unknown - 918 ( 4.187001140250855 %)	 unknown - 142 ( 5.095084320057409 %)

KeyError: 'the label [illiterate] is not in the [index]'

In [22]:
str_columns = ['default']
str_values(str_columns)

default(0-отказы)					default(1-согласия)
-----------------------------			-----------------------------
Всего:  21925 					Всего:  2787
no - 17041 ( 77.72405929304448 %)	 no - 2526 ( 90.6350914962325 %)
unknown - 4883 ( 22.271379703534777 %)	 unknown - 261 ( 9.364908503767492 %)

KeyError: 'the label [yes] is not in the [index]'

In [23]:
str_columns = ['housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome']
str_values(str_columns)

housing(0-отказы)					housing(1-согласия)
-----------------------------			-----------------------------
Всего:  21925 					Всего:  2787
yes - 11430 ( 52.13226909920182 %)	 yes - 1504 ( 53.96483674201651 %)
no - 9943 ( 45.35005701254276 %)	 no - 1213 ( 43.523501973448155 %)
unknown - 552 ( 2.517673888255416 %)	 unknown - 70 ( 2.5116612845353425 %)
================================================================================

loan(0-отказы)					loan(1-согласия)
-----------------------------			-----------------------------
Всего:  21925 					Всего:  2787
no - 18049 ( 82.32155074116305 %)	 no - 2285 ( 81.98780050233226 %)
yes - 3324 ( 15.160775370581527 %)	 yes - 432 ( 15.500538213132401 %)
unknown - 552 ( 2.517673888255416 %)	 unknown - 70 ( 2.5116612845353425 %)
================================================================================

contact(0-отказы)					contact(1-согласия)
-----------------------------			-----------------------------
Всего:  21925 					Всего:  2787
cellular - 13399 ( 61.112884834663625 %)	 cellular - 2330 ( 83.60243989953355 %)
telephone - 8526 ( 38.887115165336375 %)	 telephone - 457 ( 16.39756010046645 %)
================================================================================

month(0-отказы)					month(1-согласия)
-----------------------------			-----------------------------
Всего:  21925 					Всего:  2787
may - 7696 ( 35.10148232611174 %)	 may - 503 ( 18.048080373161106 %)
jul - 3961 ( 18.06613454960091 %)	 jul - 403 ( 14.459992823824901 %)
aug - 3338 ( 15.224629418472064 %)	 aug - 393 ( 14.10118406889128 %)
jun - 2841 ( 12.957810718358038 %)	 jun - 350 ( 12.558306422676713 %)
nov - 2173 ( 9.911060433295326 %)	 nov - 252 ( 9.041980624327234 %)
apr - 1254 ( 5.719498289623718 %)	 apr - 314 ( 11.26659490491568 %)
oct - 239 ( 1.0900798175598632 %)	 oct - 203 ( 7.283817725152494 %)
sep - 185 ( 0.8437856328392246 %)	 sep - 152 ( 5.45389307499103 %)
mar - 178 ( 0.8118586088939567 %)	 mar - 168 ( 6.027987082884822 %)
dec - 60 ( 0.27366020524515394 %)	 dec - 49 ( 1.7581628991747398 %)
================================================================================

day_of_week(0-отказы)					day_of_week(1-согласия)
-----------------------------			-----------------------------
Всего:  21925 					Всего:  2787
mon - 4539 ( 20.702394526795896 %)	 mon - 504 ( 18.083961248654468 %)
thu - 4507 ( 20.556442417331812 %)	 thu - 637 ( 22.856117689271617 %)
wed - 4379 ( 19.972633979475486 %)	 wed - 560 ( 20.09329027628274 %)
tue - 4277 ( 19.507411630558725 %)	 tue - 569 ( 20.416218155723 %)
fri - 4223 ( 19.261117445838085 %)	 fri - 517 ( 18.550412630068173 %)
================================================================================

poutcome(0-отказы)					poutcome(1-согласия)
-----------------------------			-----------------------------
Всего:  21925 					Всего:  2787
nonexistent - 19445 ( 88.68871151653364 %)	 nonexistent - 1901 ( 68.20954431288123 %)
failure - 2209 ( 10.075256556442417 %)	 failure - 357 ( 12.809472551130247 %)
success - 271 ( 1.2360319270239453 %)	 success - 529 ( 18.980983135988517 %)
================================================================================

In [ ]:
# Выводы:
# 1.Пропусков нет

# 2.Незначимые признаки (не влияющие "заметно" на целевое значение, на обучающих данных):
# 'housing', 'loan', 'day_of_week'
# Эти признаки удалим из обучения..

# 3.Значимые признаки: 'job', 'marital', 'education', 'default', 'contact', 'month', 'poutcome'
# Некоторая "явная важность" обнаруживается в признаках 'default', 'poutcome', 
# а также в значении "may" признака 'month'
# Пытаться как-то выделить эти признаки не будем: положимся на модели. Хотя, наверное, можно 
# было бы "поиграть весами", особенно для бинарного признака 'month_may' в линейной регрессии..
# Ко всем этим признакам (включая, 'default', 'poutcome' и 'month') можно 
# применить факторизацию pd.factorize ... 
# а потом нормализовать по алгоритму: x -> (x - min)/(max - min)

In [ ]:
# Напишем функцию, подготавливающую данные

In [24]:
def preproc_data(df_input):
    df_output = df_input.copy()
    # 1.Удаление признака-идентификатора '_id'
    df_output = df_output.drop(['_id'], axis=1)
    
    # 2.Удаление незначимых числовых признаков ('age', campaign', 'pdays', 'cons.price.idx', 
    #'cons.conf.idx', 'euribor3m', 'nr.employed')
    drop_cols1 = ['age', 'campaign', 'pdays', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed']
    df_output = df_output.drop(drop_cols1, axis=1)
    
    # 3.Нормализация значимых признаков ('duration', 'previous', 'emp.var.rate')
    # .. и умножим на 10
    duration_min = df_output['duration'].min()
    duration_max = df_output['duration'].max()
    df_output['duration'] = df_output['duration'].map(lambda x: (x - duration_min)*10/(duration_max - duration_min))
    
    previous_min = df_output['previous'].min()
    previous_max = df_output['previous'].max()
    df_output['previous'] = df_output['previous'].map(lambda x: (x - previous_min)*10/(previous_max - previous_min))
    
    emp_min = df_output['emp.var.rate'].min()
    emp_max = df_output['emp.var.rate'].max()
    df_output['emp.var.rate'] = df_output['emp.var.rate'].map(lambda x: (x - emp_min)*10/(emp_max - emp_min))              

    # 4.Удаление незначимых категориальных признаков ('housing', 'loan', 'day_of_week')
    drop_cols2 = ['housing', 'loan', 'day_of_week']
    df_output = df_output.drop(drop_cols2, axis=1)

    # 5.Факторизация значимых категориальных признаков ('job', 'marital', 'education', 'default', 'contact', 
    # 'month', 'poutcome')
    df_output['job'] = pd.factorize(df_output['job'])[0]
    df_output['marital'] = pd.factorize(df_output['marital'])[0]
    df_output['education'] = pd.factorize(df_output['education'])[0]
    df_output['default'] = pd.factorize(df_output['default'])[0]
    df_output['contact'] = pd.factorize(df_output['contact'])[0]
    df_output['month'] = pd.factorize(df_output['month'])[0]
    df_output['poutcome'] = pd.factorize(df_output['poutcome'])[0]
    
    # 6.Нормализация признаков ('job', 'marital', 'education', 'default', 'contact', 'month', 'poutcome'
    # .. и умножим на 10
    norm_cols = ['job', 'marital', 'education', 'default', 'contact', 'month', 'poutcome']
    for col in norm_cols:
        col_min = df_output[col].min()
        col_max = df_output[col].max()
        df_output[col] = df_output[col].map(lambda x: (x - col_min)*10/(col_max - col_min))
                  
    return df_output

In [ ]:
# Подготовим данные во фреймах df_train и df_test

In [ ]:
# Обучающая выборка

In [25]:
df_train_preproc = df_train.pipe(preproc_data)

In [26]:
y_train_preproc = df_train_preproc['target']

In [27]:
df_train_preproc = df_train_preproc.drop(['target'], axis=1)

In [ ]:
# Тестовая выборка

In [28]:
df_test_preproc = df_test.pipe(preproc_data)

In [ ]:
# ----------------------------------------------------------------------

In [29]:
df_train_preproc.describe().T

,count,mean,std,min,25%,50%,75%,max
job,24712.0,2.953773,2.338791,0.0,0.909091,2.727273,3.636364,10.0
marital,24712.0,1.711179,2.318370,0.0,0.000000,0.000000,3.333333,10.0
education,24712.0,3.927068,2.246212,0.0,2.857143,4.285714,5.714286,10.0
default,24712.0,3.959412,2.030346,0.0,5.000000,5.000000,5.000000,10.0
contact,24712.0,3.635076,4.810189,0.0,0.000000,0.000000,10.000000,10.0
month,24712.0,2.866219,2.539398,0.0,1.111111,2.222222,5.555556,10.0
duration,24712.0,0.525306,0.531869,0.0,0.207401,0.366002,0.648638,10.0
previous,24712.0,0.286500,0.819186,0.0,0.000000,0.000000,0.000000,10.0
poutcome,24712.0,0.842910,2.263384,0.0,0.000000,0.000000,0.000000,10.0
emp.var.rate,24712.0,7.255652,3.275625,0.0,3.333333,9.375000,10.000000,10.0

In [30]:
df_test_preproc.describe().T

,count,mean,std,min,25%,50%,75%,max
job,16476.0,3.416209,2.721424,0.0,1.818182,2.727273,5.454545,10.0
marital,16476.0,2.228696,2.951254,0.0,0.000000,0.000000,6.666667,10.0
education,16476.0,3.915652,2.674510,0.0,1.428571,4.285714,5.714286,10.0
default,16476.0,1.049102,2.037453,0.0,0.000000,0.000000,0.000000,10.0
contact,16476.0,3.678684,4.822399,0.0,0.000000,0.000000,10.000000,10.0
month,16476.0,2.352041,2.399068,0.0,0.000000,2.222222,3.333333,10.0
duration,16476.0,0.733166,0.729212,0.0,0.290764,0.510262,0.909350,10.0
previous,16476.0,0.249367,0.714218,0.0,0.000000,0.000000,0.000000,10.0
poutcome,16476.0,4.662236,1.820393,0.0,5.000000,5.000000,5.000000,10.0
emp.var.rate,16476.0,7.251343,3.268738,0.0,3.333333,9.375000,10.000000,10.0

In [ ]:
# ----------------------------------------------------------------------

In [ ]:
# Формируем массивы

In [31]:
X = df_train_preproc.values
y = y_train_preproc.values
X_for_test = df_test_preproc.values

In [ ]:
#===========================================================================
#===========================================================================

In [ ]:
# Кросс валидация

In [32]:
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score

In [33]:
# Кросс валидация на 10 фолдах с сохранением пропорции классов в каждом фолде
cv = StratifiedKFold(n_splits=10, random_state=123)

In [34]:
# train_idx и test_idx - это индексы объектов, попадающие в обучающие и валидационные части
for train_idx, test_idx in cv.split(X, y):
    print('=== Очередной фолд ===')
    print('Обучение - {} объектов, валидация - {} объектов'.format(train_idx.shape[0], test_idx.shape[0]))
    print('Доля отказавшихся: обучение - {}, валидация - {}'.format(y[train_idx].mean(), y[test_idx].mean()))

=== Очередной фолд ===
Обучение - 22240 объектов, валидация - 2472 объектов
Доля отказавшихся: обучение - 0.11276978417266187, валидация - 0.11286407766990292
=== Очередной фолд ===
Обучение - 22240 объектов, валидация - 2472 объектов
Доля отказавшихся: обучение - 0.11276978417266187, валидация - 0.11286407766990292
=== Очередной фолд ===
Обучение - 22240 объектов, валидация - 2472 объектов
Доля отказавшихся: обучение - 0.11276978417266187, валидация - 0.11286407766990292
=== Очередной фолд ===
Обучение - 22240 объектов, валидация - 2472 объектов
Доля отказавшихся: обучение - 0.11276978417266187, валидация - 0.11286407766990292
=== Очередной фолд ===
Обучение - 22240 объектов, валидация - 2472 объектов
Доля отказавшихся: обучение - 0.11276978417266187, валидация - 0.11286407766990292
=== Очередной фолд ===
Обучение - 22241 объектов, валидация - 2471 объектов
Доля отказавшихся: обучение - 0.11276471381682478, валидация - 0.11290975313638203
=== Очередной фолд ===
Обучение - 22241 объектов, валидация - 2471 объектов
Доля отказавшихся: обучение - 0.11276471381682478, валидация - 0.11290975313638203
=== Очередной фолд ===
Обучение - 22242 объектов, валидация - 2470 объектов
Доля отказавшихся: обучение - 0.11280460390252675, валидация - 0.1125506072874494
=== Очередной фолд ===
Обучение - 22242 объектов, валидация - 2470 объектов
Доля отказавшихся: обучение - 0.11280460390252675, валидация - 0.1125506072874494
=== Очередной фолд ===
Обучение - 22242 объектов, валидация - 2470 объектов
Доля отказавшихся: обучение - 0.11280460390252675, валидация - 0.1125506072874494

In [35]:
# Модель с алгоритммом "Метод ближайших соседей" - KNeighborsClassifier
#------------------------------------------------------------------
from sklearn.neighbors import KNeighborsClassifier
KNN = KNeighborsClassifier()

In [38]:
from sklearn.grid_search import RandomizedSearchCV as RCV
from sklearn.grid_search import GridSearchCV

In [37]:
#Init signature: KNeighborsClassifier(n_neighbors=5, weights='uniform', algorithm='auto', 
#leaf_size=30, p=2, metric='minkowski', metric_params=None, n_jobs=1, **kwargs)

In [39]:
KNN_params = {'n_neighbors': range(1, 30), 'p' : range(1, 2)}

In [40]:
KNN_grid = RCV(KNN, KNN_params, cv=5, n_jobs=-1, verbose=True)

In [41]:
KNN_grid.fit(X, y)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    7.5s
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:    9.2s finished

RandomizedSearchCV(cv=5, error_score='raise',
          estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform'),
          fit_params={}, iid=True, n_iter=10, n_jobs=-1,
          param_distributions={'n_neighbors': range(1, 30), 'p': range(1, 2)},
          pre_dispatch='2*n_jobs', random_state=None, refit=True,
          scoring=None, verbose=True)

In [42]:
KNN_grid.best_params_

{'n_neighbors': 8, 'p': 1}

In [43]:
KNN_grid.best_score_

0.8987131757850437

In [44]:
KNN = KNeighborsClassifier (n_neighbors=8, p=1)

In [45]:
KNN

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=8, p=1,
           weights='uniform')

In [46]:
# Посчитаем меру качества roc_auc на кросс-валидации для модели KNN
scoresKNN = cross_val_score(
    KNN,
    X,
    y,
    scoring='roc_auc',
    cv=cv
)

In [47]:
# Оценки roc-auc на кросс-валидации
scoresKNN

array([0.85890672, 0.86654425, 0.8577463 , 0.8691029 , 0.85612906,
       0.84720587, 0.88907529, 0.84953379, 0.85828782, 0.84798958])

In [48]:
# Для оценки обобщающей способности возьмем среднее
scoresKNN.mean()

0.8600521587744797

In [49]:
# Модель с алгоритммом "Дерево решений" - DecisionTreeClassifier
#------------------------------------------------------------------
from sklearn.tree import DecisionTreeClassifier
DTC = DecisionTreeClassifier(class_weight = 'balanced')

In [50]:
DTC_params = {'max_depth': range(5, 40), 'max_features': range(2,10), 'criterion': ['entropy', 'gini']}

In [51]:
DTC_grid = RCV(DTC, DTC_params, cv=5, n_jobs=-1, verbose=True)

In [52]:
DTC_grid.fit(X, y)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    3.1s
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:    3.3s finished

RandomizedSearchCV(cv=5, error_score='raise',
          estimator=DecisionTreeClassifier(class_weight='balanced', criterion='gini',
            max_depth=None, max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
          fit_params={}, iid=True, n_iter=10, n_jobs=-1,
          param_distributions={'max_depth': range(5, 40), 'max_features': range(2, 10), 'criterion': ['entropy', 'gini']},
          pre_dispatch='2*n_jobs', random_state=None, refit=True,
          scoring=None, verbose=True)

In [53]:
DTC_grid.best_params_

{'criterion': 'gini', 'max_depth': 29, 'max_features': 6}

In [54]:
DTC_grid.best_score_

0.887180317254775

In [55]:
DTC = DecisionTreeClassifier(class_weight='balanced', criterion='gini', max_depth=29, max_features=6)

In [56]:
DTC

DecisionTreeClassifier(class_weight='balanced', criterion='gini',
            max_depth=29, max_features=6, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [57]:
# Посчитаем меру качества roc_auc на кросс-валидации для модели DTC
scoresDTC = cross_val_score(
    DTC,
    X,
    y,
    scoring='roc_auc',
    cv=cv
)

In [58]:
# Оценки roc-auc на кросс-валидации
scoresDTC

array([0.70132729, 0.71251636, 0.68140565, 0.72314402, 0.69418662,
       0.6858248 , 0.73037177, 0.70291741, 0.7049211 , 0.70660479])

In [59]:
# Для оценки обобщающей способности возьмем среднее
scoresDTC.mean()

0.7043219805333681

In [60]:
# Модель с алгоритммом "Логистическая регрессия" - LogisticRegression
#------------------------------------------------------------------
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression(class_weight = 'balanced')

In [61]:
LR_params = {'fit_intercept': [True], 'solver' : ['newton-cg', 'lbfgs', 'sag', 'saga'], \
             'multi_class': ['ovr', 'multinomial']}

In [62]:
LR_grid = GridSearchCV(LR, LR_params, cv=5, n_jobs=-1, verbose=True)

In [63]:
LR_grid.fit(X, y)

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:   11.0s finished
C:\Anaconda3\lib\site-packages\sklearn\linear_model\sag.py:326: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

GridSearchCV(cv=5, error_score='raise',
       estimator=LogisticRegression(C=1.0, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False),
       fit_params={}, iid=True, n_jobs=-1,
       param_grid={'fit_intercept': [True], 'solver': ['newton-cg', 'lbfgs', 'sag', 'saga'], 'multi_class': ['ovr', 'multinomial']},
       pre_dispatch='2*n_jobs', refit=True, scoring=None, verbose=True)

In [64]:
LR_grid.best_params_

{'fit_intercept': True, 'multi_class': 'multinomial', 'solver': 'sag'}

In [65]:
LR_grid.best_score_

0.8400372288766591

In [72]:
#LR = LogisticRegression(class_weight='balanced', fit_intercept=True, multi_class='multinomial', solver='sag')
#Лучше:
LR = LogisticRegression(class_weight='balanced', fit_intercept=True, multi_class='ovr', solver='newton-cg')

In [73]:
LR

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='newton-cg', tol=0.0001, verbose=0, warm_start=False)

In [74]:
# Посчитаем меру качества roc_auc на кросс-валидации для модели LR
scoresLR = cross_val_score(
    LR,
    X,
    y,
    scoring='roc_auc',
    cv=cv
)

In [75]:
# Оценки roc-auc на кросс-валидации
scoresLR

array([0.9185074 , 0.91449006, 0.91761993, 0.92784389, 0.91219373,
       0.90852285, 0.93191599, 0.92391725, 0.90774497, 0.92217613])

In [76]:
# Для оценки обобщающей способности возьмем среднее
scoresLR.mean()

0.9184932208551471

In [ ]:
#=================================================================

In [77]:
print('Метод ближайших соседей: ', scoresKNN.mean())
print('Дерево принятия решений: ', scoresDTC.mean())
print('Логистическая регрессия: ', scoresLR.mean())

Метод ближайших соседей:  0.8600521587744797
Дерево принятия решений:  0.7043219805333681
Логистическая регрессия:  0.9184932208551471

In [ ]:
# Лучший результат - на Логистической регрессии !

In [ ]:
# Протестируем на этой модели

In [91]:
df_train2 = pd.read_csv('data/train.csv', encoding='utf-8',sep=',')

In [92]:
df_test2 = pd.read_csv('data/test.csv', encoding='utf-8',sep=',')

In [88]:
# Перепишем функцию, подготавливающую данные.... без удаления '_id'

In [93]:
def preproc_data2(df_input):
    df_output = df_input.copy()
    # 1.Удаление признака-идентификатора '_id'
    #df_output = df_output.drop(['_id'], axis=1)
    
    # 2.Удаление незначимых числовых признаков ('age', campaign', 'pdays', 'cons.price.idx', 
    #'cons.conf.idx', 'euribor3m', 'nr.employed')
    drop_cols1 = ['age', 'campaign', 'pdays', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed']
    df_output = df_output.drop(drop_cols1, axis=1)
    
    # 3.Нормализация значимых признаков ('duration', 'previous', 'emp.var.rate')
    # .. и умножим на 10
    duration_min = df_output['duration'].min()
    duration_max = df_output['duration'].max()
    df_output['duration'] = df_output['duration'].map(lambda x: (x - duration_min)*10/(duration_max - duration_min))
    
    previous_min = df_output['previous'].min()
    previous_max = df_output['previous'].max()
    df_output['previous'] = df_output['previous'].map(lambda x: (x - previous_min)*10/(previous_max - previous_min))
    
    emp_min = df_output['emp.var.rate'].min()
    emp_max = df_output['emp.var.rate'].max()
    df_output['emp.var.rate'] = df_output['emp.var.rate'].map(lambda x: (x - emp_min)*10/(emp_max - emp_min))              

    # 4.Удаление незначимых категориальных признаков ('housing', 'loan', 'day_of_week')
    drop_cols2 = ['housing', 'loan', 'day_of_week']
    df_output = df_output.drop(drop_cols2, axis=1)

    # 5.Факторизация значимых категориальных признаков ('job', 'marital', 'education', 'default', 'contact', 
    # 'month', 'poutcome')
    df_output['job'] = pd.factorize(df_output['job'])[0]
    df_output['marital'] = pd.factorize(df_output['marital'])[0]
    df_output['education'] = pd.factorize(df_output['education'])[0]
    df_output['default'] = pd.factorize(df_output['default'])[0]
    df_output['contact'] = pd.factorize(df_output['contact'])[0]
    df_output['month'] = pd.factorize(df_output['month'])[0]
    df_output['poutcome'] = pd.factorize(df_output['poutcome'])[0]
    
    # 6.Нормализация признаков ('job', 'marital', 'education', 'default', 'contact', 'month', 'poutcome'
    # .. и умножим на 10
    norm_cols = ['job', 'marital', 'education', 'default', 'contact', 'month', 'poutcome']
    for col in norm_cols:
        col_min = df_output[col].min()
        col_max = df_output[col].max()
        df_output[col] = df_output[col].map(lambda x: (x - col_min)*10/(col_max - col_min))
                  
    return df_output

In [94]:
df_train_preproc2 = df_train2.pipe(preproc_data2)

In [95]:
df_train_preproc2.head()

,_id,job,marital,education,default,contact,month,duration,previous,poutcome,emp.var.rate,target
0,df7489733b004bbe40d3d37b34f82419,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.176901,0.0,0.0,10.000000,0
1,905a0b9a5456ee962223033473666be3,0.909091,3.333333,1.428571,5.0,10.0,1.111111,0.591704,0.0,0.0,9.375000,0
2,02d69c07ec6d68e31d641edd45ce61cd,1.818182,0.000000,1.428571,5.0,0.0,0.000000,0.370069,0.0,0.0,10.000000,0
3,e492fbe0cccaf67cdb5c0944dbc8a167,1.818182,0.000000,2.857143,5.0,10.0,1.111111,0.366002,0.0,0.0,9.375000,0
4,ac2dc6f5835bdea8e71dd99b65208d07,0.909091,3.333333,4.285714,5.0,10.0,0.000000,0.012200,0.0,0.0,3.541667,0

In [108]:
X_train_preproc2 = df_train_preproc2.drop(['_id', 'target'], axis=1)

In [109]:
X_train_preproc2.head()

,job,marital,education,default,contact,month,duration,previous,poutcome,emp.var.rate
0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.176901,0.0,0.0,10.000000
1,0.909091,3.333333,1.428571,5.0,10.0,1.111111,0.591704,0.0,0.0,9.375000
2,1.818182,0.000000,1.428571,5.0,0.0,0.000000,0.370069,0.0,0.0,10.000000
3,1.818182,0.000000,2.857143,5.0,10.0,1.111111,0.366002,0.0,0.0,9.375000
4,0.909091,3.333333,4.285714,5.0,10.0,0.000000,0.012200,0.0,0.0,3.541667

In [110]:
y_train_preproc2 = df_train_preproc2['target']

In [111]:
df_test_preproc2 = df_test2.pipe(preproc_data2)

In [112]:
df_test_preproc2.head()

,_id,job,marital,education,default,contact,month,duration,previous,poutcome,emp.var.rate
0,66810d8e6bf2b41c880a7bc6c8a1e295,0.000000,0.0,0.000000,0.0,0.0,0.000000,1.054732,1.428571,0.0,3.333333
1,ccac3879652b08cb8b44c1920fd93afa,0.909091,0.0,1.428571,5.0,10.0,0.000000,0.809578,0.000000,5.0,9.375000
2,fcccab4d7a76f70647f015f2c84c2af8,1.818182,0.0,2.857143,0.0,0.0,0.000000,0.145382,1.428571,0.0,3.333333
3,ed8399278c30678dab739045fa12b440,2.727273,0.0,0.000000,0.0,10.0,1.111111,1.009122,0.000000,5.0,10.000000
4,1d4d62ac5cabcb48bac7112813f290cb,3.636364,0.0,0.000000,0.0,0.0,2.222222,0.535918,0.000000,5.0,10.000000

In [113]:
X_test_preproc2 = df_test_preproc2.drop(['_id'], axis=1)

In [114]:
X_test_preproc2.head()

,job,marital,education,default,contact,month,duration,previous,poutcome,emp.var.rate
0,0.000000,0.0,0.000000,0.0,0.0,0.000000,1.054732,1.428571,0.0,3.333333
1,0.909091,0.0,1.428571,5.0,10.0,0.000000,0.809578,0.000000,5.0,9.375000
2,1.818182,0.0,2.857143,0.0,0.0,0.000000,0.145382,1.428571,0.0,3.333333
3,2.727273,0.0,0.000000,0.0,10.0,1.111111,1.009122,0.000000,5.0,10.000000
4,3.636364,0.0,0.000000,0.0,0.0,2.222222,0.535918,0.000000,5.0,10.000000

In [115]:
LR = LogisticRegression(class_weight='balanced', fit_intercept=True, multi_class='ovr', solver='newton-cg')

In [116]:
LR.fit(X_train_preproc2.values, y_train_preproc2.values)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='newton-cg', tol=0.0001, verbose=0, warm_start=False)

In [117]:
y_target = LR.predict(X_test_preproc2.values)

In [ ]:
# ---------------------------------------------------------

In [119]:
df_predict_final = df_test_preproc2

In [120]:
df_predict_final['target'] = y_target

In [121]:
df_predict_final.head()

,_id,job,marital,education,default,contact,month,duration,previous,poutcome,emp.var.rate,target
0,66810d8e6bf2b41c880a7bc6c8a1e295,0.000000,0.0,0.000000,0.0,0.0,0.000000,1.054732,1.428571,0.0,3.333333,1
1,ccac3879652b08cb8b44c1920fd93afa,0.909091,0.0,1.428571,5.0,10.0,0.000000,0.809578,0.000000,5.0,9.375000,0
2,fcccab4d7a76f70647f015f2c84c2af8,1.818182,0.0,2.857143,0.0,0.0,0.000000,0.145382,1.428571,0.0,3.333333,0
3,ed8399278c30678dab739045fa12b440,2.727273,0.0,0.000000,0.0,10.0,1.111111,1.009122,0.000000,5.0,10.000000,0
4,1d4d62ac5cabcb48bac7112813f290cb,3.636364,0.0,0.000000,0.0,0.0,2.222222,0.535918,0.000000,5.0,10.000000,0

In [ ]:
df_predict_final = df_predict_final.drop(['job', 'marital', 'education', ''], axis=1)

In [123]:
df_predict_final = df_predict_final.loc[
    :,
    ['_id', 'target']
]

In [125]:
df_predict_final.head

<bound method NDFrame.head of                                     _id  target
0      66810d8e6bf2b41c880a7bc6c8a1e295       1
1      ccac3879652b08cb8b44c1920fd93afa       0
2      fcccab4d7a76f70647f015f2c84c2af8       0
3      ed8399278c30678dab739045fa12b440       0
4      1d4d62ac5cabcb48bac7112813f290cb       0
5      aba2dec4c5cab88824f36babd24b986f       1
6      06f318f1dd178e738f675bb88a5adb84       0
7      d5036f5956e42ee6207296238fc4bc1d       0
8      fe0cc8933698ad4046ff2b82f65756eb       0
9      70190122f4ebf196535e11b33eb95b81       0
10     8c2e044ac444afd4d0dea67eba0079c4       1
11     0d7db1117ed3606d7bbbb65d584b5c2f       1
12     aa3d1e4ba96323b5449a23cb54badc50       1
13     d312d9b1ffdab785a806490ca0450f7b       1
14     56da3f911d7cc5e8f47f2703b74bdc45       0
15     19afb1a10078e901994a1e1e2c058652       0
16     9ac0fc025e2f551a7d5214a606a77434       0
17     4bc819b6f4ebbedca0fe354ba5dc7ba3       0
18     1c02af75529cdaee5f8822a5251f5c63       0
19     9d0424c7a80ebde8cc8b5520721592f2       1
20     cf005d4bc86312d5f1032e08ef342e05       1
21     6abe7bc6263ac81d7f6764c6b0489703       0
22     b56ee107fc7abbabfa317f9209cbc5fd       1
23     2fd2f7790cd8d0c638d55f41b1f323a2       0
24     bd3b2a1af1abd0d48af835aa69848232       0
25     d50372645903431bd7ceb57bbf1cea06       0
26     8a11f5487e2e8a6e91d0ab1b6003b55e       0
27     ab96e787fdf0827bbebcf95b1243d041       0
28     233d244d79e364f517c846cb3ab1932a       0
29     45971d4e3a47775bb5a7260bb5ea3c36       0
...                                 ...     ...
16446  2e7eb3af58c97ad5b28e4ab4066a3166       0
16447  bf36dd4830374ffc70f6ee3299d64f18       1
16448  6f414266555cb6936d452d7f670c1d2a       0
16449  51a8cd987d9172230140ba02680c6888       0
16450  f22bc2082ffda4152fc91e62d405ae33       0
16451  78fce17fbfc1649f81525fbff8ce56f6       0
16452  678b27ff29561345f45c22997d4163b9       0
16453  6b97722a63470c0e3141afd64dedef69       0
16454  4f76847f045acfba87b9b31212e5ff04       1
16455  227b74315a0f38c0468d34cb32c33130       0
16456  2bfba6d34acd59d1b336a902334fe580       0
16457  14800414cadc5a5225cfc88a0ad0df5f       0
16458  990a8c3609aa6b418e9a1d3d03e4bae2       0
16459  305b62eb82268b8fbe96f40d6bbf8c0d       0
16460  85192427224a3f6c41d0098da3fc8f42       0
16461  1d64b28026755f338788275caa736ae5       0
16462  148b22ee82a0ab3e0a0361db70fcb8f9       0
16463  be5b5fbf76512e42f33920e507651637       1
16464  40abfe7908c781d5501f1f659e4c4635       1
16465  47db50c3c18cafca48d259b44f77459b       1
16466  909fbfc6b2be0973f005059719b1a74e       1
16467  2f3adcb8c4dcdd9d639fc4565a9c3d18       0
16468  647c7ffbf8a9d521e35889915d4e2b5b       0
16469  b2661316878841e8616c63e394753904       0
16470  5d85440e397384c76a5653fab7e0e5e7       0
16471  114c0574c96ac1c71d6529b863a566d8       1
16472  467e0cc4856d357b4905a3a862e952b4       0
16473  d1f7a1196e049d5bff3375606950c86c       0
16474  3e837730540e9b0d6a980b3f6a12bb48       0
16475  82db4c5dd22e8182b30917571fe77c4d       0

[16476 rows x 2 columns]>

In [127]:
df_predict_final['target'].count()

16476

In [128]:
df_predict_final['target'].sum()

5199

In [ ]:
# -----------------------------------------
# Выгружаем в CSV

In [131]:
df_predict_final.to_csv('submission.csv', encoding='utf-8',sep=',', index=None)

In [ ]:
# ====================================================================
# ====================================================================